<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class=" col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Paciente</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form name="cadastrar" ng-submit="vm.submit()" novalidate>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
								<label for="">Foto:</label>
									<div class="upload" ngf-drop="vm.imageUpload($file)" ngf-select="vm.imageUpload($file)"
											ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
											accept="image/*" ngf-pattern="'image/*'" ng-model="vm.image"><label color="red">Clique aqui para adicionar imagem</label>
											<br/>
											<img ng-show="form.file.$valid" class="thumb select-zone" ngf-thumbnail="vm.image" height="100" width="100">
<!-- 											<input type="hidden" ng-model="vm.cliente.image"> -->
									</div>
								</div>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-6"></div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.nome.$invalid && cadastrar.nome.$dirty }">
									<label for="nome">Nome:</label> <input type="text" required
										class="form-control" ng-model="vm.cliente.nome" id="nome"
										name="nome">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.cpf.$invalid && cadastrar.cpf.$dirty }">
									<label for="cpf">CPF:</label> <input type="number" required
										class="form-control" ng-model="vm.cliente.cpf" id="cpf"
										name="cpf">
								</div>
							</div>
							<div class="col-md-3" ng-if="!vm.editar">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.data_nascimento.$invalid && cadastrar.data_nascimento.$dirty }">
									<label for="data_nascimento">Data Nascimento:</label> <input
										type="date" required class="form-control"
										ng-model="vm.cliente.data_nascimento" id="data_nascimento"
										name="data_nascimento">
								</div>
							</div>
							<div class="col-md-3" ng-if="vm.editar" ng-disabled="ngDisabled">
								<div class="form-group">
									<label for="data_nascimento">Data Nascimento:</label> <input
										type="text" class="form-control" ng-model="vm.cliente.data_nascimento | date:'dd/MM/yyyy'">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.estado_civil.$invalid && cadastrar.estado_civil.$dirty }">
									<label for="etado_civil">Estado Civil:</label> <input
										type="text" required class="form-control"
										ng-model="vm.cliente.estado_civil" id="estado_civil"
										name="estado_civil">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.profissao.$invalid && cadastrar.profissao.$dirty }">
									<label for="profissao">Profissao:</label> <input type="text"
										required class="form-control" ng-model="vm.cliente.profissao"
										id="profissao" name="profissao">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.email.$invalid && cadastrar.email.$dirty }">
									<label for="email">E-mail:</label> <input type="text" required
										class="form-control" ng-model="vm.cliente.email" id="email"
										name="email">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group"
									ng-class="{ 'has-error': cadastrar.telefone.$invalid && cadastrar.telefone.$dirty }">
									<label for="telefone">Telefone:</label> <input type="text"
										required class="form-control" ng-model="vm.cliente.telefone"
										id="telefone" name="telefone">
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">Endereço</div>
							<div class="panel-body">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-9 col-md-push-3"></div>
										<div class="col-md-3 col-md-pull-9">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.cep.$invalid && cadastrar.cep.$dirty }">
												<label for="cep">CEP:</label> <input type="text" required
													class="form-control" ng-model="vm.cliente.endereco.cep"
													id="cep" name="cep">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.logradouro.$invalid && cadastrar.logradouro.$dirty }">
												<label for="logradouro">Logradouro:</label> <input
													type="text" required class="form-control"
													ng-model="vm.cliente.endereco.logradouro" id="logradouro"
													name="logradouro">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.complemento.$invalid && cadastrar.complemento.$dirty }">
												<label for="complemento">Complemento:</label> <input
													type="text" required class="form-control"
													ng-model="vm.cliente.endereco.complemento" id="complemento"
													name="complemento">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.numero.$invalid && cadastrar.numero.$dirty }">
												<label for="numero">Número:</label> <input type="text"
													required class="form-control"
													ng-model="vm.cliente.endereco.numero" id="numero"
													name="numero">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.bairro_nascimento.$invalid && cadastrar.bairro.$dirty }">
												<label for="bairro">Bairro:</label> <input type="text"
													required class="form-control"
													ng-model="vm.cliente.endereco.bairro" id="bairro"
													name="bairro">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.municipio.$invalid && cadastrar.municipio.$dirty }">
												<label for="municipio">Municipio:</label> <input type="text"
													required class="form-control"
													ng-model="vm.cliente.endereco.municipio" id="municipio"
													name="municipio">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group"
												ng-class="{ 'has-error': cadastrar.estado.$invalid && cadastrar.estado.$dirty }">
												<label for="estado">Estado:</label> <input type="text"
													required class="form-control"
													ng-model="vm.cliente.endereco.estado" id="estado"
													name="estado">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<button type="submit" ng-if="!vm.editar" ng-disabled="ngDisabled" class="btn btn-danger">Gravar</button>
						<button type="submit" ng-if="vm.editar" ng-disabled="ngDisabled" class="btn btn-danger">Alterar</button>
						<button class="btn btn-default" ui-sref="clientes">Voltar</button>
						<div class="alert alert-info margin-top-5" ng-show="vm.message">{{vm.message}}</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>