<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class=" col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Paciente</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="">Foto:</label> <br /> <img
									data-ng-src="data:image/png;base64,{{vm.cliente.image}}"
									height="150" width="120" />
							</div>
						</div>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
					</div>

					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label>Nome:</label> <span class="form-control"
									ng-bind="vm.cliente.nome"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>CPF:</label> <span class="form-control"
									ng-bind="vm.cliente.cpf"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<div class="form-group">
								<label>E-mail:</label> <span class="form-control"
									ng-bind="vm.cliente.email"></span>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label>Telefone:</label> <span class="form-control"
									ng-bind="vm.cliente.telefone"></span>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Avalição do Paciente</div>
						<div class="panel-body">
							<div class="col-md-12">
								<div>
									<ul class="nav nav-tabs" role="tablist">
										<li class="active"><a data-target="#page_1" role="tab" ng-click="vm.openQuestionario()" data-toggle="tab">Questionário</a></li>
										<li><a data-target="#page_2" role="tab" ng-click="vm.openBioimpedancia()" data-toggle="tab">Bioimpedância</a></li>
										<li><a data-target="#page_3" role="tab" ng-click="vm.openPlanoTerapeutico()" data-toggle="tab">Plano terapêutico</a></li>
										<li><a data-target="#page_4" role="tab" ng-click="vm.openAnamnese()" data-toggle="tab">Anamnese</a></li>
									</ul>
									<br />

									<div class="tab-content">
										<!-- ######################### page 1 ######################### -->
										<div class="tab-pane active" id="page_1">
											<div class="col-md-12">
												Questionário
											</div>
										</div>

										<!-- ######################### page 2 ######################### -->
										<div class="tab-pane" id="page_2">
											<div class="row">
												 <div class="col-md-6">
												  	<div id="chart_div_2"></div>
												 </div>
												<div class="col-md-6">
												  	<div id="chart_div"></div>
												 </div>
											 </div>
											 <div class="row">
												 <div class="col-md-6">
												  	<div id="chart_div_2"></div>
												 </div>
												<div class="col-md-6">
												  	<div id="chart_div"></div>
												 </div>
											 </div>
											 <div class="row">
												 <div class="col-md-6">
												  	<div id="chart_div_2"></div>
												 </div>
												<div class="col-md-6">
												  	<div id="chart_div"></div>
												 </div>
											 </div>
										</div>

										<!-- ######################### page 3 ######################### -->
										<div class="tab-pane" id="page_3">
											<div class="col-md-12">
												Plano terapeutico
											</div>
										</div>

										<!-- ######################### page 4 ######################### -->
										<div class="tab-pane" id="page_4">
											<div class="col-md-12">
												Anamnese
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-default" ui-sref="clientes">Voltar</button>
				</div>
			</div>
		</div>
</body>
</html>