<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class=" col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="vm.login()">
						<div class="form-group">
							<label for="username">Usuário:</label> <input type="txt"
								class="form-control" ng-model="vm.username" id="username">
						</div>
						<div class="form-group">
							<label for="pwd">Senha:</label> <input type="password"
								class="form-control" id="pwd" ng-model="vm.password">
						</div>
						<button type="submit" class="btn btn-danger">Entrar</button>
						<button class="btn btn-default" ui-sref="register">Cadastrar-se</button>

						<div class="alert alert-info margin-top-5" ng-show="vm.message">{{vm.message}}</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>